*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 60px 20px auto / 270px 15px 12fr 15px;
  /* background: #f7f7fa; */
  border: 1px solid #ddddf0;
}

.header{
  grid-row: 1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 269px 1fr ;
  border-bottom: 1px solid #ddddf0;
}

.sidebar{
  grid-row: 2/-1;
  grid-column: 1/2;
  border-bottom: 1px solid #ddddf0;
  border-right: 1px solid #ddddf0;
  display: grid;
  grid-template-rows: 205px 295px 250px;
}

.content{
  grid-row: 3/-1;
  grid-column: 3/4;
  display: grid;
  grid-template: 330px 240px 400px / repeat(4, minmax(240px, 1fr));
  grid-gap: 1em;
  
  
}

.header-second{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-left: 1px solid #ddddf0;
}

.profile{
  grid-row: 1;
  /* border-bottom: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.online{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.picture{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: scale-down;
  filter: drop-shadow(0 0 0.45rem #ddddf0);
}

.daily-visitors{
  grid-row: 1;
  grid-column: 1/-1;
  border: 1px solid #ddddf0;
  -webkit-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  -moz-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  box-shadow: 2px 2px 17px 1px rgba(216,216,226,1);
}

.realtime-users{
  grid-row: 2;
  grid-column: 1/2;
  border: 1px solid #ddddf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-top: 20px;
  -webkit-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  -moz-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
}
.total-visits{
  grid-row: 2;
  grid-column: 2/3;
  border: 1px solid #ddddf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  -moz-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
}

.bounce-rate{
  grid-row: 2;
  grid-column: 3/4;
  border: 1px solid #ddddf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  -moz-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
}

.visit-duration{
  grid-row: 2;
  grid-column: 4/5;
  border: 1px solid #ddddf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  -moz-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
}

.footer{
  grid-row: 3;
  grid-column: 1/-1;
  display: grid;
  grid-template: 1fr / 2fr 1em 1fr;
}
.most-visited{
  grid-row: 1;
  grid-column: 1/2;
  border: 1px solid #ddddf0;
  display: grid;
  grid-template-rows: 55px 1fr;
  -webkit-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  -moz-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
}

.social-media{
  grid-row: 1;
  grid-column: 3/4;
  border: 1px solid #ddddf0;
  display: grid;
  grid-template-rows: 55px 1fr ;
  -webkit-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  -moz-box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
  box-shadow: 2px 5px 17px 1px rgba(216,216,226,1);
}

.social-media-header{
  grid-row: 1;
  grid-column: 1/-1;
  font-size: 16px;
  font-weight: 600;
  display: grid;
  align-self: center;
  justify-self: start;
  padding: 0 25px;

}

.most-visited-header{
  grid-row: 1;
  grid-column: 1/-1;
  font-size: 16px;
  font-weight: 600;
  display: grid;
  align-self: center;
  justify-self: start;
  padding: 0 25px;
}

.social-media-table{
  grid-row: 2;
  border-top: 1px solid #ddddf0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.social-media-table > span{
  padding: 22px 20px;
  border-bottom: 1px solid #ddddf0;
}

.most-visited-table{
  grid-row: 2;
  border-top: 1px solid #ddddf0;
  display: grid;
  grid-template-columns: 3fr 1fr 1.8fr 1.25fr 1fr;
}

.most-visited-table > span{
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 16px;
  border-bottom: 1px solid #ddddf0;
}

.progress-bar{
  height: 5px;
  width: 150px;
  border-radius: 5px;
  position: relative;
  background: rgba(151,187,205,0.2);
}

.filler{
  height: 100%;
  border-radius: "inherit";
  background: #1f6ed7;
  transition: width 2s;
}

.settings{
  position: absolute;
  padding: 8px;
  border-radius: 50%;
  margin: 0 auto;
  left: 160px;
  background-color: #fff;
  filter: opacity(80%);
  filter: drop-shadow(16px 16px 20px #ddddf0);
}


@media screen and (max-width: 720px){
  .App{
    border-right: none;
  }
}

.github{
  padding: 20px;

}

.github > a:hover{
  text-decoration: none;
  color: rgb(29, 29, 103);
}





