*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  grid-template: 60px 20px auto / 270px 15px 12fr 15px;
  /* background: #f7f7fa; */
}

.header{
  grid-row: 1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 300px 1fr ;
  border-bottom: 1px solid black;
}

.sidebar{
  grid-row: 2/-1;
  grid-column: 1/2;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: 205px 295px 250px;
}

.content{
  grid-row: 3/-1;
  grid-column: 3/4;
  border: 1px solid black;
  display: grid;
  grid-template: 330px 250px 400px / repeat(4, minmax(260px, 1fr));
  grid-gap: 1em;
  
}

.header-second{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.profile{
  grid-row: 1;
  /* border-bottom: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.online{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.picture{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: scale-down;
}

.daily-visitors{
  grid-row: 1;
  grid-column: 1/-1;
  border: 1px solid black;
}

.realtime-users{
  grid-row: 2;
  grid-column: 1/2;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  padding-top: 20px;
}
.total-visits{
  grid-row: 2;
  grid-column: 2/3;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.bounce-rate{
  grid-row: 2;
  grid-column: 3/4;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.visit-duration{
  grid-row: 2;
  grid-column: 4/5;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer{
  grid-row: 3;
  grid-column: 1/-1;
  display: grid;
  grid-template: 1fr / 2fr 1em 1fr;
}
.most-visited{
  grid-row: 1;
  grid-column: 1/2;
  border: 1px solid black;
}

.social-media{
  grid-row: 1;
  grid-column: 3/4;
  border: 1px solid black;
}





